<a href="/profile">
    <span align="center" class="glyphicon glyphicon-user" />
    <p><%= user.name %> - <%= user.regNumber %></p>
</a>

<h1><a href="/conversations">Home</a> | <a href="/logout">Logout</a></h1>